.form-box-1 {
    padding: 3px;
    background-image: linear-gradient(135deg, #21630d, #0a501c);
    box-shadow: 3px 3px 5px rgb(143, 143, 143);
}

img {
    width: 250px;
    transition: 0.5s;
}

.form-box-2 {
    min-height: 300px;
    padding-inline: 2em;
}

.livro {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 1.5em;
    margin-block: 2.1em;
}

img:active {
    position: fixed;
    top: 40vh;
    left:40vw;
    scale:2;
}

.container {
    margin: 40px 0;
    width: clamp(320px, 50%, 900px);
}

input[type="submit"] {
    width: auto;
}

.center-text{
    font-size: 1.2rem;
    text-align: center;
}