body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.form-box-2 {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(238, 238, 238);
}

label {
    margin: 5px 0;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    border-radius: 4px;
}

input:focus {
    background-color: rgb(228, 228, 228);
}

input[type="submit"], .nav-bttn {
    width: 50%;
    margin: 15px 0;
    border: 0;
    padding: 4px;
    background-color: #8a2574;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: antiquewhite;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(143, 143, 143);
}

input[name="editar"] {
    width: auto;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-bttn {
    margin-top: 0;
    display: block;
    text-align: center;
    width: fit-content;

}

input[type="submit"]:hover {
    color: rgb(211, 211, 211);
    background-color: #74085c;
    cursor: pointer;
}

a {
    line-height: 25px;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.voltar {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0%;
    font-weight: bold;
    font-size: 125%;
    text-decoration: none !important;
    color: antiquewhite;
    margin: 25px 25px;
    padding: 17px;
    background-color: #8a2574;
    box-sizing: border-box;
    border-radius: 100%;
    box-shadow: 1px 1px 2px rgb(143, 143, 143);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: 0.1s;
}

#coisaEspecifica {
    display: flex;
    gap: 2rem;
}

.voltar:hover {
    color: rgb(211, 211, 211);
    background-color: #74085c;
    cursor: pointer;}

th {
    padding: 6px;
}

tr, th {
    text-align: center;
}